<div class="news row mt--7">
  <div class="col">
    <h2 class="title mb-10 text-white">ข่าวประชาสัมพันธ์</h2>
    <div class="card shadow">
      <div class="card-header border-0">
        <div class="d-flex justify-content-between">
          <h2 class="title mb-0">รายการข่าวประชาสัมพันธ์</h2>
          <button class="btn btn-sm btn-lg btn-success" (click)="createNews()">
            <i class="fas fa-plus-circle"></i>สร้างข่าว
          </button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th
                scope="col"
                style="width: 12%"
                class="text-right bg-indigo-400"
              >
                ลำดับ
              </th>
              <th class="bg-indigo-400" scope="col">ชื่อเรื่อง</th>
              <th class="bg-indigo-400" scope="col">วันที่สร้าง</th>
              <th class="bg-indigo-400" scope="col">จัดการ</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of paginateData; let i = index">
              <th scope="row" class="text-right">
                <div class="media align-items-center">
                  <span class="clearfix"></span>
                  <label class="custom-toggle">
                    <input
                      type="checkbox"
                      [checked]="item.Status === 1 ? true : false"
                      (change)="changeStatus(item)"
                    />
                    <span class="custom-toggle-slider"></span>
                  </label>
                  <div class="media-body">
                    <span class="mb-0 text-sm">{{ item.index }}</span>
                  </div>
                </div>
              </th>
              <td class="text-left">{{ item.Detail }}</td>
              <td><i class="bg-warning"></i> {{ item.UpdatedDate }}</td>
              <td>
                <i
                  *ngIf="item.ButtonView === 1"
                  class="far fa-file-alt detail"
                  (click)="viewData(item)"
                ></i>
                <i
                  *ngIf="item.ButtonEdit === 1"
                  class="far fa-edit edit"
                  (click)="editData(item)"
                ></i>
                <i
                  *ngIf="item.ButtonDelete === 1"
                  class="far fa-trash-alt delete"
                  (click)="deleteData(item)"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer py-4">
        <div class="d-flex p-2">
          <select
            class="custom-select mr-2 w-auto h-0 form-select-sm"
            [(ngModel)]="pageSize"
            name="pageSize"
            (ngModelChange)="getNewsData()"
          >
            <option value="5">5</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
          <ngb-pagination
            [collectionSize]="collectionSize"
            [(page)]="page"
            [pageSize]="pageSize"
            (pageChange)="getNewsData()"
            [maxSize]="3"
          >
            <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-white">{{ title }}</h4>
  </div>
  <div class="modal-body">
    <form role="form">
      <div class="form-group">
        <div class="input-group mb-3 row">
          <div class="col-3">
            <label for="">ชื่อเรื่อง <span class="text-red-500">*</span></label>
          </div>
          <div class="col-9">
            <input
              [(ngModel)]="modalData.NameNews"
              name="modalDataNameNews"
              class="form-control"
              placeholder="Name"
              type="text"
              [disabled]="modalDataState === 1 ? true : false"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-3 row">
          <div class="col-3">
            <label for="">เนื้อหา <span class="text-red-500">*</span></label>
          </div>
          <div class="col-9">
            <textarea
              [(ngModel)]="modalData.Detail"
              name="modalDataDetail"
              class="form-control"
              rows="3"
              placeholder="Detail"
              [disabled]="modalDataState === 1 ? true : false"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group row">
          <div class="col-3">
            <label for="">สถานะ </label>
          </div>
          <div class="col-9">
            <span class="clearfix"></span>
            <label class="custom-toggle">
              <input
                (change)="changeStatusModal()"
                name="modalDataStatus"
                type="checkbox"
                [checked]="modalData.Status === 1 ? true : false"
                [disabled]="modalDataState === 1 ? true : false"
              />
              <span class="custom-toggle-slider"></span>
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer justify-content-center">
    <div>
      <button
        *ngIf="modalDataState >= 0"
        class="btn btn-sm btn-primary"
        (click)="modal.close('Save click')"
      >
        ปิด
      </button>

      <!-- <button
        *ngIf="modalDataState === 0 || modalDataState === 2"
        class="btn btn-sm btn-primary"
        (click)="saveData()"
      >
        บันทึก
      </button> -->
    </div>
  </div>
</ng-template>
