.news {
  margin-top: -11rem !important;

  h1 {
    color: aqua;
  }
  .custom-select {
    height: 36px !important;
    font-size: 12px;
    margin-top: -1px;
  }

  @media screen and (max-width: 1024px) {
    margin-top: -9rem !important;
  }
}

.bg-indigo-400 {
  background-color: rgb(165 180 252) !important;
  color: black !important;
  font-size: medium;
}

.table {
  margin: 15px;
  width: 97%;
  color: black !important;
}

.title {
  font-size: 21px;
}

.custom-toggle input:checked + .custom-toggle-slider {
  border: 1px solid #08bb44 !important;
  background-color: #08bb44;
  background-image: linear-gradient(#75f49f, #08bb44);
}

.custom-toggle input:checked + .custom-toggle-slider:before {
  background: #c3c3c5;
  background-image: linear-gradient(rgb(244, 241, 241), #c3c3c5);
  transform: translateX(1.625rem);
}

@media screen and (max-width: 400px) {
  .custom-toggle {
    width: 37px;
    height: 1.2rem;
  }

  .custom-toggle input:checked + .custom-toggle-slider:before {
    transform: translateX(1rem);
  }

  .custom-toggle-slider:before {
    bottom: 0px;
  }

  .title {
    font-size: 15px;
    font-weight: bold;
  }
}

i {
  margin-right: 5px;
  &:hover {
    cursor: pointer;
  }
}
.detail {
  background-color: #74e5f4;
  padding: 5px;
  border-radius: 10px;
  font-size: 10px;
}

.delete {
  background-color: red;
  padding: 5px;
  border-radius: 10px;
  font-size: 8px;
}

.edit {
  padding: 5px;
  border-radius: 10px;
}

.modal-header {
  background-color: rgb(5, 5, 103);
  color: white !important;
}
